<%- include('includes/head', { pageTitle: 'Um erro ocorreu!'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Alguma coisa deu errado!</h1>
        <p>Infelizmente, alguma coisa deu errado. Por favor tente novamente mais tarde.</p>p>
        <p><a class="btn" href="/">Volte com segurança!</a></p>
    </main>
<%- include('includes/footer') %>