<ul class="nav-items">
  <% if (!locals.isAdmin) { %>
    <li><a href="/">Comprar</a></li>
    <li><a href="/cart">Carrinho <span class="badge"><%= locals.cart.totalQuantity %></span></a></li>
  <% } %>

  <% if (locals.isAuth && !locals.isAdmin) { %>
    <li><a href="/orders">Pedidos</a></li>
  <% } %>

  <% if (locals.isAdmin) { %>
    <li><a href="/admin/products">Gerenciar Produtos</a></li>
    <li><a href="/admin/orders">Gerenciar Pedidos</a></li>
  <% } %>

  <% if (!locals.isAuth) { %>
    <li><a href="/signup">Criar Conta</a></li>
    <li><a href="/login">Entrar</a></li>
  <% } %>

  <% if (locals.isAuth) { %>
    <li>
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <button>Sair</button>
      </form>
    </li>
  <% } %>
</ul>