<%- include('../../shared/includes/head', { pageTitle: 'Todos Produtos'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Todos os produtos</h1>
        <p>Uma lista de produtos...</p>
    </main>
<%- include('../../shared/includes/footer') %>