<%- include('../../shared/includes/head', { pageTitle: 'Todos Produtos' }) %>
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Produtos</h1>
    <ul id="products-grid">
      <% for (const product of products) { %>
        <li>
          <%- include('../../shared/includes/product-item', { product: product }) %>
        </li>
      <% } %>
    </ul>
  </main>
<%- include('../../shared/includes/footer') %>