<%- include('../includes/head', { pageTitle: 'Signup'}) %>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Criar Nova Conta</h1>
        <form action="" method="">
            
        </form>
    </main>
<%- include('../includes/footer') %>